@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
}

/*********************************************************************/
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
}

.header {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 10px 40px;
  font-family: "Raleway", sans-serif;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
}

.buttons {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Стили для игрового поля */
#game-field {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  width: 352px;
  height: 352px;
  border-radius: 10px;
}

/* Стили для клеток */
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0);
}

/* Стили для живых клеток */
.cell.alive {
  background-color: rgb(0, 187, 255);
  border-color: rgb(0, 187, 255);
}

.alive {
  background: radial-gradient(circle, rgb(250, 254, 255) 20%, rgba(4, 255, 96, 0.5) 70%);
  border-radius: 50%;
  transform: scale(0.1);
  opacity: 0;
  filter: blur(3px);
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  box-shadow: 0 0 20px rgb(0, 187, 255), 0 0 40px rgb(0, 187, 255), 0 0 80px rgb(0, 187, 255);
}

@keyframes fadeIn {
  from {
    transform: scale(0.1);
    opacity: 0;
    filter: blur(6px);
  }
  to {
    transform: scale(0.8);
    opacity: 1;
    filter: blur(0px);
  }
}
.button {
  font-family: "Raleway", sans-serif;
  justify-content: center;
  margin: 10px 15px;
  background-color: transparent;
  color: #2d2d2d;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
  text-shadow: 0 0 5px #cccccc;
  transition: all 1s ease-in-out;
}

.button-down {
  background: #f0f0f0;
  color: rgb(0, 187, 255);
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 5px 5px 5px #cccccc inset, -5px -5px 5px #ffffff inset;
  text-shadow: none;
}

button:hover {
  background: #f0f0f0;
  color: rgb(0, 187, 255);
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 5px 5px 5px #cccccc inset, -5px -5px 5px #ffffff inset;
  text-shadow: none;
}

/***********************************************************************************/
.footer {
  margin-bottom: 50px;
  width: 25ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/********************************************************************************************/
.box {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
  animation: anime 4s cubic-bezier(0.16, 1, 0.3, 1) 0s alternate;
  animation-fill-mode: forwards;
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 352px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 352px;
    height: 352px;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
  }
}