@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0;
}

.box {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s alternate;
    /* animation-fill-mode: forwards; */
}

@keyframes anime {
    0% {
        width: 60px;
        height: 60px;
        background: #f0f0f0;
        box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
    }
    25% {
        width: 60px;
        height: 60px;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
    }
    50% {
        width: 60px;
        height: 352px;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
    }
    100% {
        width: 352px;
        height: 352px;
        background: #fafafa;
        box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
    }
}

//////////////////////////////////////////////////////////////////
/*********************************************************************/

.header {
    background-color: #f0f0f0;
    padding: 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 20pt;
    display: flex;
    justify-content: center;
   
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    //width: 100%;
}

.buttons {
    width: 354px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #272626;
    border-radius: 10px;
    // height: 100vh;
}

/* Стили для игрового поля */
#game-field {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    width: 352px;
    height: 352px;
        // border: 1px solid black;
    border-radius: 10px;
}

/* Стили для клеток */
.cell {
    width: 20px;
    height: 20px;
       border: 1px solid rgba(255, 255, 255, 0);
}

/* Стили для живых клеток */
.cell.alive {
    background-color: rgb(0, 187, 255);
    border-color: rgb(0, 187, 255);
}

.alive {
    background: radial-gradient(circle, rgb(250, 254, 255) 20%, rgba(4, 255, 96, 0.5) 70%);
    border-radius: 50%;
    transform: scale(0.1);
    opacity: 0;
    filter: blur(3px);
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 20px rgb(0, 187, 255), 0 0 40px rgb(0, 187, 255), 0 0 80px rgb(0, 187, 255);
}

@keyframes fadeIn {
    from {
        transform: scale(0.1);
        opacity: 0;
        filter: blur(6px);
    }
    to {
        transform: scale(0.8);
        opacity: 1;
        filter: blur(0px);
     
    }
}

button {
    font-family: "Raleway", sans-serif;

    justify-content: center;
    margin: 50px 20px;
    background-color: transparent;
    color: #2d2d2d;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px #cccccc, 0 0 10px #cccccc, 0 0 20px #cccccc, 0 0 40px #cccccc;
    text-shadow: 0 0 5px #cccccc;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #cccccc;
    color: #f0f0f0;
    box-shadow: none;
    text-shadow: none;
}

// /********************************************************************************************************/

// .container {
//     font-family: "Roboto", sans-serif;
//     margin: 20px;
//     width: 1000px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
// }
// .container .btn {
//     position: relative;
//     top: 0;
//     left: 0;
//     width: 250px;
//     height: 50px;
//     margin: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .container .btn a {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: rgba(255, 255, 255, 0.05);
//     box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
//     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//     border-top: 1px solid rgba(255, 255, 255, 0.1);
//     border-radius: 30px;
//     padding: 10px;
//     letter-spacing: 1px;
//     text-decoration: none;
//     overflow: hidden;
//     color: #fff;
//     font-weight: 400px;
//     z-index: 1;
//     transition: 0.5s;
//     backdrop-filter: blur(15px);
// }
// .container .btn:hover a {
//     letter-spacing: 3px;
// }
// .container .btn a::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50%;
//     height: 100%;
//     background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
//     transform: skewX(45deg) translate(0);
//     transition: 0.5s;
//     filter: blur(0px);
// }
// .container .btn:hover a::before {
//     transform: skewX(45deg) translate(200px);
// }
// .container .btn::before {
//     content: "";
//     position: absolute;
//     left: 50%;
//     transform: translatex(-50%);
//     bottom: -5px;
//     width: 30px;
//     height: 10px;
//     background: #f00;
//     border-radius: 10px;
//     transition: 0.5s;
//     transition-delay: 0.5;
// }
// .container .btn:hover::before /*lightup button*/ {
//     bottom: 0;
//     height: 50%;
//     width: 80%;
//     border-radius: 30px;
// }

// .container .btn::after {
//     content: "";
//     position: absolute;
//     left: 50%;
//     transform: translatex(-50%);
//     top: -5px;
//     width: 30px;
//     height: 10px;
//     background: #f00;
//     border-radius: 10px;
//     transition: 0.5s;
//     transition-delay: 0.5;
// }
// .container .btn:hover::after /*lightup button*/ {
//     top: 0;
//     height: 50%;
//     width: 80%;
//     border-radius: 30px;
// }
// .container .btn:nth-child(1)::before, /*chnage 1*/
// .container .btn:nth-child(1)::after {
//     background: #ff1f71;
//     box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
// }
// .container .btn:nth-child(2)::before, /* 2*/
// .container .btn:nth-child(2)::after {
//     background: #2db2ff;
//     box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff, 0 0 60px #2db2ff;
// }
// .container .btn:nth-child(3)::before, /* 3*/
// .container .btn:nth-child(3)::after {
//     background: #1eff45;
//     box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
// }
